.cta.section
  .cta-container.box
    .cta-content
      %h2 Interested in working together?
      %p I'm always excited to take on new challenges and collaborate on meaningful projects. Let's discuss how we can create something amazing together.

      .cta-buttons
        = render 'components/button', text: "Get in Touch", variant: 'primary', url: contact_path
        = render 'components/button', text: "Download Portfolio", variant: 'tertiary', url: "https://drive.google.com/file/d/18oTQLM7fYZRJiIMQCoFrWVyBv0LVck-k/view?usp=drive_link", html_options: {target: '_blank', rel: 'noopener'}
