- return unless project_details[:design_process].present?

.section
  %h2 Design Process

  .design-process-grid
    - project_details[:design_process][:stages].each do |step|
      .process-step
        %h4= step[:stage]
        %p= step[:summary]

  = render "components/gallery", gallery: project_details[:design_process][:gallery]