- raw_data = project_details[:future_opportunities]
- return unless raw_data.present?

- opportunities = raw_data[:opportunities]
- gallery = raw_data[:gallery]

.section
  %h2 Future Opportunities

  .insight-grid
    - opportunities.each do |opportunity|
      .insight-box.future.box
        %p
          %span.arrow → 
          = opportunity

  = render "components/gallery", gallery: gallery
