.pit{ style: "margin-left: #{left}; margin-right: 0px" }
  .pit-content-bottom
    = link_to '#', 'data-rel' => 'tooltip-bottom', title: "#{content}", 'data-placement' => 'bottom' do
      .time-pin-up.pin
    .date-point.tl-bottom