.video-container
  %iframe{:height => "430", :src => "http://www.youtube.com/embed/7j68-d8veGE", :title => "Stargate 3D modelling project", :width => "640"}
  .print-link= "http://www.youtube.com/embed/7j68-d8veGE"