%h1 To Do List

%h3 To Do:
= render 'todo_status', status: @incomplete

%h3 Completed:
= render 'todo_status', status: @completed

- if user_signed_in?
  .btn.btn-primary
    = link_to 'New item', new_todo_path
