- meta :title => "Anfinity.co.uk | To Do List",
	   :description => "Anfinity - About Anthony McLaughlin, his web design and development work as well as other interests in life.",
       :keywords => %w(Anfinity Anthony-McLaughlin Cookbook recipes about anthony mclaughlin portfolio projects anthony's web design development User Interface design UI UX Ruby ROR Rails Wordpress opencart hire CMS Derry londonderry Derry/Londonderry Ireland)


%h1 To Do List

%h3 To Do:
= render 'todo_status', status: @incomplete

%h3 Completed:
= render 'todo_status', status: @completed

- if user_signed_in?
  .btn.btn-primary
    = link_to 'New item', new_todo_path
