.gallery-row {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  gap: 1rem;

  &.layout-1,
  &.layout-2,
  &.layout-3 {
    align-items: flex-end;
  }

  &.left .image,
  &.layout-3 .image-large {
    flex: 1;
  }

  &.right .image,
  .text,
  .info {
    flex: 1;
  }

  .image img,
  .image-large img {
    max-width: 680px;
    border-radius: 4px;
  }

  .text,
  .info {
    padding: 1rem;
  }

  h3 {
    width: fit-content;
  }

  .text p {
    width: 50%;
  }

  .thumbnails {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    img {
      height: auto;
      border-radius: 4px;
      object-fit: scale-down;
      width: 100%;
    }
  }

  .grid-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  &.layout-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    .image-large {
      flex: 1 1 100%;
      aspect-ratio: 16 / 9;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    .grid-images {
      flex: 1 1 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 0.5rem;
      align-self: start;

      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    @media (min-width: 768px) {
      flex-wrap: nowrap;

      .image-large {
        flex: 1 1 60%;
        aspect-ratio: auto;

        img {
          height: 100%;
        }
      }

      .grid-images {
        flex: 1 1 40%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-auto-rows: 1fr;
        align-content: start;
        gap: 0.5rem;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &.layout-4 {
    gap: 1rem;
    flex-wrap: nowrap;

    img {
      aspect-ratio: 4 /3;
      border-radius: 4px;
      overflow: hidden;
      object-fit: scale-down;
    }
  }
}
