@use "partials/variables" as *;

.admin_projects_actions {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
}

// -------------------- Create project page

.create-project, .create-project-type {
    padding: 2rem 4rem;

    .field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 16px 0px;
        max-width: 340px;
    }

    .field-gallery {
      max-width: 1200px;

      .cover-option img{
        cursor: pointer;
        height: auto; 
        width: 100px; 
      }

      input[type="radio"] {
        margin: 0;
      }
    }
}


//------------------------------- fixes

.admin_projects, .admin_project_types {
  margin-top: 80px;

  .all-projects {
    background-color: white;
  }
}

