#aboutme
  font-size: 16px
  margin-top: -1.5%

#profile-pic
  background-image: url(me.jpg)
  background-position: -140% 10%
  background-size: 100%
  border: 10px solid #ccc
  margin-top: 2%
  width: 3px
  padding: 125px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%

#timeline-container
  margin-top: 10%
  margin-left: 1%
  margin-bottom: 10%
  position: relative

.timeline-center
  height: 20px
  width: 90%
  background: #ccc
  margin-top: 8px
 
.timeline-top, .topline-bottom
  width: 100%
  
.tl-bottom
  margin-right: 0px
  top: 15px
  background-image: url(icon-point-bottom.png)
  background-repeat: no-repeat
  
.tl-top
  background-image: url(icon-point-top.png)
  background-repeat: no-repeat
  
.date-point
  width: 16px
  height: 8px

.pit-content-bottom
  float: left 

.pit-content-top
  float: left

.pin
  width: 27px
  height: 39px
  position: absolute
  margin-left: -5px

.time-pin-down
  background-image: url(icon-pin-down.png)
  top: -45px
  &:hover
    top: -39px

.time-pin-up
  background-image: url(icon-pin-up.png)
  top: 42px
  &:hover
    top: 36px

.tooltip
  font-size: 17px
  opacity: 1 !important
  h4
    text-align: left
  p
    text-align: left
    font-size: 14px
	
.tooltip.top
  top: -122px !important
  margin-top: -45px !important
  margin-left: 8px

.tooltip.bottom
  margin-top: 50px !important
  margin-left: 8px
  margin-left: 8px


#present
  border: 10px solid #ccc
  width: 20px
  padding: 40px
  text-align: center
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  float: right
  margin-top: -63px
  margin-right: 1.5%

.present-text
  float: right
  top: -33px
  position: relative
  right: -78px
  font-weight: bold
  letter-spacing: 1.5px
  font-size: 17px
 
//--------------------------------------------------------------- About Mobile Styling:
//- small desktop

@media(min-width: 992px) and (max-width:1199px)
  #profile-pic
    margin: 0 auto
  
  #aboutme
    padding: 0px 0px 0px 50px
	
	
//- tablet	  
	  
@media(min-width: 480px) and (max-width: 991px)
  #profile-pic
    margin: 0 auto
  
  #aboutme
    padding: 0px !important
    width: 105%