//---------------------------------Contact Page Styling:
#contact
  width: 880px
  height: 150px
  margin: 0 auto
  border: 1px solid #ccc

#inquiry_email, #inquiry_name
  width: 90%
  
#inquiry_message
  height: 93px
  width: 100%
  margin-bottom: 5px

#new_inquiry
  margin-bottom: 10%
  input[type=submit]
    width: 80px
    float: right
	
//---------------------------------contact MOBILE styling:
//- mobile
@media(max-width:320px)
  #inquiry_email, #inquiry_name
    width: 110% !important
  
  #inquiry_message
    height: 120px
    width: 110% !important

//- tablet

@media(max-width:992px)
  #inquiry_email, #inquiry_name
    width: 40%
