//----------------------------------------------------------- Portfolio INDEX Styling  
#portfolio
  margin-top: 2%
  border: 0 !important

#portfolio .box:nth-child(3n+1)
  margin-left: 0 !important

#portfolio .box
  color: #999
  margin-bottom: 1%

#portfolio .box:hover
  color: #f33



#portfolio-sidebar
  th
    text-align: left

.box
  height: 188px
  position: relative
  margin-bottom: 2% !important
  .content-item-img
    img
      height: auto
      width: 100%
      display: block
    background: #666
    position: relative
    overflow: hidden
  a:hover
    color: #f33
    text-decoration: none
  .content-item-info 
    width: 100%
    height: 20%
  .more-box
    width: 50px
    height: 70px
    background: white
    position: absolute
    bottom: -28px
    right: -18px
    overflow: hidden
    transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    -o-transform: rotate(45deg)
  .mbl
    background-image: url(bkg_img.jpg)
    line-height: 5.5
    text-indent: 32px
    width: 60px
    height: 60px
    margin-top: -2px
    margin-left: -30px
    transform: rotate(-45deg)
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    font-size: 1.1em

@media(max-width:320px)
  .container
    padding-left: 5%
    padding-right: 2%
	
//----------------------------------------------------------- Portfolio ITEM Styling 	
.portfolio-title
  line-height: 1.1
  margin-left: -0.4% !important
  font-size: 5.5em
  letter-spacing: 3px
  overflow: hidden
  color: #888

#portfolio-show
  margin-bottom: 2%
  img
    width: 100%
    padding: 1%
    background: white
    margin-bottom: 1%

.carousel-inner
  width: 102%

.carousel-control
  height: 98.3%  
  
.carousel-control.right
  right: -2% !important
  left: auto
  right: 0
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0000)), to(rgba(0, 0, 0, 0)))
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0000) 0%), color-stop(rgba(0, 0, 0, 0) 100%))
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%)
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
  &:hover
    background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.2)))
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.2) 100%))
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.2) 100%)
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.2) 100%)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
  
  
  
.carousel-control.left
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.0001)))
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%))
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0001) 100%)
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0001) 100%)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
  &:hover
    background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.0001)))
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.2) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%))
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0001) 100%)
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0001) 100%)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
 
.carousel-indicators
  bottom: -30px
  li
    border: 1px solid #aaa !important
  
#feature-image
  width: 550px
  height: 200px
  background-color: white
  
#comingsoon
  padding-top: 10%
  text-align: center
  font-size: 1.4em