.post
  clear: both
  margin-bottom: 5%

.post-info
  background: white
  text-align: center
  height: auto
  padding-top: 1%
  padding-bottom: 1%

.post-content
  margin-left: 1.7%
  background: white
  padding: 10px
  .title
    font-size: 2em
    border-bottom: 1px solid #ddd
    margin-bottom: 1%
    margin-top: 0px
  .right
    float: right
  .content
    font-size: 16px
    line-height: 1.4

#additional-posts
  padding: 0 !important
  margin-left: 0 !important
  .section-title
    font-size: 1.7em
    border-bottom: 1px solid #ddd
    margin-bottom: 2%
    font-weight: normal
  .month
    padding-left: 6%
  .post-title
    padding-left: 12%
  #recent
    margin-bottom: 10%
  #Archive
    margin-bottom: 47%
  #Topics
    margin-bottom: 10%
	
.titles
  clear: both
 
#post_content
  width: 60%
  height: 200px

.post_status
  float: right
  padding: 7px !important
  margin-bottom: 0 !important
  width: 12%
  text-align: center
	
.no-LS
  list-style: none

.label
  font-family: serif
  font-size: 0.7em

#topic
  clear: right

.tag-icon
  clear: left

.year
  clear: both

.css1 
  font-size: 0.8em
.css2 
  font-size: 1em
.css3 
  font-size: 1.2em
.css4 
  font-size: 1.3em

//-------------------------------------------- Posts MOBILE styling:
//-mobile

@media(max-width: 320px)
  .post-info
    margin-left: 1.7%
    margin-bottom: 1px
    height: 69px
    .np
      clear: both
    .col-xs-4
      width: 100% !important
	 
  .post-content
    padding-bottom: 18px

  .post-btn
    margin-top: -8%

  .post-month
    width: 40% !important
    float: left
        
  #recent, #Archive, #Topics, #Tags
    margin-bottom: 5% !important
    margin-left: 6%
	
//-tablet

@media(min-width: 480px) and (max-width: 991px)
  .post-info
    margin-left: 1.7%
    margin-bottom: 1px
    height: 32px

  .post-content
    padding-bottom: 18px

  .post-month
    width: 40% !important
    float: left

  .post-btn
    margin-top: -3%

  #recent, #Archive, #Topics, #Tags
    margin-bottom: 5% !important
    margin-left: 4%
    float: left
    width: 45%
	 
  #paging
    text-align: right !important