.post
  clear: both
  margin-bottom: 5%

.post-info
  background: white
  text-align: center
  width: 80px !important
  height: 80px
  .day
    clear: both
    font-size: 2em
    margin-top: 7%
    margin-bottom: 3%
  .month
    clear: both
    font-size: 2em
    margin-bottom: 12%
  .year
    clear: both
    font-size: 2em

.post-content
  background: white
  padding: 10px
  .title
    font-size: 2em
    border-bottom: 1px solid #ddd
  .right
    float: right

#additional-posts
  margin-left: 0 !important
  .section-title
    font-size: 2em
    border-bottom: 1px solid #ddd
    margin-bottom: 2%
  .month
    padding-left: 6%
  .post-title
    padding-left: 12%
  #recent
    margin-bottom: 40%
  #Archive
    margin-bottom: 40%
	
.titles
  clear: both