.post
  clear: both
  margin-bottom: 5%

.post-info
  background: white
  text-align: center
  height: auto
  padding-top: 1%
  padding-bottom: 1%

.post-content
  margin-left: 1.7%
  background: white
  padding: 10px
  .title
    font-size: 2em
    border-bottom: 1px solid #ddd
    margin-bottom: 1%
  .right
    float: right
  .content
    font-size: 16px
    line-height: 1.4

#additional-posts
  padding: 0 !important
  margin-left: 0 !important
  .section-title
    font-size: 1.7em
    border-bottom: 1px solid #ddd
    margin-bottom: 2%
  .month
    padding-left: 6%
  .post-title
    padding-left: 12%
  #recent
    margin-bottom: 40%
  #Archive
    margin-bottom: 40%
	
.titles
  clear: both
 
#post_content
  width: 60%
  height: 200px

.no-LS
  list-style: none

.label
  font-family: serif
  font-size: 0.7em

#topic
  clear: right

.tag-icon
  clear: left

.year
  clear: both

//-------------------------------------------- Posts MOBILE styling:
@media(max-width:320px)
  .post-info
    margin-left: 1.7%
    margin-bottom: 1px

  .post-content
    padding-bottom: 18px

  .post-btn
    margin-top: -8%

  .post-month
    width: 40% !important
    float: left
	
  #recent
    margin-bottom: 5% !important
    margin-left: 6%
  
  #Archive
    margin-bottom: 5%
    margin-left: 6%