@media print
  .mobile_btn
    display: none !important
	
  #header:after
    clear: both
    width: 90%
    text-align: center
    margin: 0 auto
    content: "Thank you for printing my content at www.anfinity.co.uk. Be sure to come back soon! All content is the property of Anthony McLaughlin and Clients"
	
  a:after 
    display: none

  .carousel-inner
    position: relative
    overflow: visible !important

  .item
    display: block !important

  .video-container
    padding-bottom: 0px
    padding-top: 10px
    width: 110%
    height: 100px
    .print-link
      display: block
      width: 100%
      clear: both
    .print-link:before
      content: "Please refer to the anfinity.co.uk for the video content. Or feel free to use the URL below: \a0\a0\a0\a0" 
    iframe
      display: none
	  
  #profile-pic
    display: none
	
  #additional-posts
    display: none

  #ingredients
    width: 110%
    float: none !important
    font-size: 1.2em
  
  #instructions
    float: none !important
    width: 100% !important