//----------------------------------------------------------- COOKBOOK Styling
$border_color: #cccccc

#recipes
  margin-bottom: 2%

#text a
  color: #fff


#comments 
  width: 850px


#commentContent
  height: 11px
  padding-left: 13px
  a 
    color: #f9f9f9
  a:hover 
    color: #08c
  
#new-recipe-btn
  margin-left: 25px
  margin-bottom: 5px

#paging
  clear: both
  width: 915px
  text-align: center
  float: right

//---------------------------------Recipe Page Styling:

#pictureBox 
  height: 220px
  background: #ccc
  overflow: hidden
  img
    height: 220px
    margin-left: -6%


#ingredients 
  margin-right: 2.5%
  padding-left: 1%
  padding-bottom: 2%
  margin-top: 1%
  border-top: 1px solid $border_color
  border-bottom: 1px solid $border_color
  background-color: #F9F9F9


#instructions
  padding-left: 1%
  padding-bottom: 2%
  margin-top: 1%
  border-top: 1px solid $border_color
  border-bottom: 1px solid $border_color
  background-color: #F9F9F9
  width: 72.5%
  color: #000
 
.recipe-title
  margin-top: -4%
  font-size: 6em
  letter-spacing: 3px
  margin-left: -0.9% !important
  overflow: hidden
  color: #888

.rlink
  font-size: 1.3em
  width: 100%
  position: absolute
  bottom: 10%
  a
    margin-right: 3%

.recipe-controls
  right: 0
  position: absolute
  z-index: 999
 
.recipe_info
  margin-bottom: 1%

.Ricon
  font-size: 50px
  color: #bbb
  margin-top: -10%


//------------------------------ Recipe MOBILE styling:
@media(max-width:320px)
  #recipes
    margin-bottom: 10%
    .box 
      margin-bottom: 6% !important
      img
        height: 188px

  .recipe-title
    font-size: 1.5em
    font-wight: bold

  #instructions, #ingredients 
    width: 104%

  .recipe_details
    margin-top: 4%
    margin-left: -4.8% !important
    padding: 0 !important
    .recipe-title
      margin-bottom: 5%
    .recipe-icon
      width: 40%
      float: left
    .recipe-stat-value
      width: 55%
      float: left
      padding: 0
    .recipe-stat
      clear: both
    #recipe-description
      clear: both
      margin-top: 2%
      width: 104%