- meta :title => "Anfinity.co.uk | Contact",
	   :description => "Anfinity Blog - Find out what i'm working on and what i'm currently interested in. ",
       :keywords => %w(Anfinity Anthony-McLaughlin Cookbook recipes about blog anthony mclaughlin portfolio projects anthony's web design development User Interface design UI UX Ruby ROR Rails Wordpress opencart hire CMS posts)


<h1>Want to get in touch?</h1>
<p>Please fill out the form below and I promise to get back to you as soon as possible.</p>
 
<%= render 'form', :inquiry => @inquiry %>